/relatorios
app/logs
*.docx
/backend/venv/*
**/node_modules/
**/__pycache__/
/frontend/package-lock.json
/backend/.env
/backend/logs/*
# Ignore build output directories
/dist
/frontend/dist
/.pytest_cache/
/.pytest_cache/*