body {
    background: linear-gradient(135deg, #3498db, #9b59b6);
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #9b59b6;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.rounded-input {
    border-radius: 25px;
    margin-bottom: 15px;
}

.password-toggle {
    cursor: pointer;
}

.remember-forgot {
    color: #8e44ad;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.forgot-password {
    color: #8e44ad;
}

.btn-primary {
    border-radius: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: #8e44ad;
    border: none;
}

.create-account-btn {
    background-color: #fff;
    color: #9b59b6;
    border: 2px solid #9b59b6;
    width: 100%;
    margin-top: 10px;
    border-radius: 50px;
}

.create-account-btn:hover {
    background-color: #9b59b6;
    color: #fff;
}

.qr-code-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-code-container img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.qr-code-instructions {
    color: #9b59b6;
    font-size: 16px;
    margin-bottom: 10px;
}
